@import "../../style/variables.scss";

.columns-container {
  display: flex;
  // border: 1px solid black;
}

.title {
  padding: 8px;
}

// .tasks-container {
//   padding: 10px;
//   border: 1px solid grey;
//   margin-bottom: 10px;
//   margin-left: 10px;
//   margin-right: 10px;
//   border-radius: 2px;
//   background-color: white;
//   flex-grow: 1;
//   min-height: 100px;
// }

// .lightgreen {
//   /* color: lightgreen !important; */
//   background-color: #deebff !important;
//   border: 5px solid rgba(9, 30, 66, 0.71) !important;
// }

.dragging {
  background-color: #deebff !important;
}

.skyblue {
  border: rgba(9, 30, 66, 0.71);
  // background-color: skyblue !important;
  background-color: rgb(255, 235, 230);
}

.blue {
  // background-color: skyblue !important;
}
//

.lesson-view-grid {
  margin: 1rem !important;
}

.lesson-view-steps-container {
  background-color: $white-grey !important;
}

// match exercise
.lesson-view-match-content {
  display: flex !important;
  flex-direction: row;
}

.lesson-view-segment {
  display: flex;
}

.lesson-view-match-column {
  display: flex;
  flex-direction: column;
  // margin: 20px;
  // border: 1px solid lightgreen;
  width: auto;
}

.tasks-container-contentId,
.tasks-container-contentLetter,
// .lesson-match-view-check-answer
.lesson-match-view-check-icon {
  // border: 5px solid $white-grey;
  // background-color: #3583e0 !important;
  // margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
  background-color: white;
  flex-grow: 1;
  min-height: 50px;
  // padding:20px;
  padding: 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  display: flex;
  justify-content: left !important;
  // border: 1px solid black;
  // border: 1px solid black;
  // outline: none;
}

.lesson-match-view-check-answer {
  width: 40px;
}
.incorrect-match {
  background-color: $red;
  color: $white !important;
}

.correct-match {
  background-color: #20ba45;
  color: $white;
}

.tasks-container-contentId,
.lesson-match-view-check-icon {
  margin-top: 10px !important;

  // border: 1px solid black;
}

.lesson-view-match-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px !important;
  // border: 1px solid black;
}

.lesson-view-match-label {
  background-color: grey !important;
  color: $white !important;
  font-weight: 300 !important;

  margin-bottom: 10px !important;
  width: 130px;
  border-radius: 0px !important;
  padding: 5px 0px 5px 5px !important;
}

.lesson-view-match-explanation {
  color: grey;
}

.lesson-view-match-check {
  margin: 10px !important;
  width: 150px;
}

.lesson-view-match-icon-check {
  padding-left: 5px;
}

.tasks-container-contentId,
.tasks-container-contentLetter {
  // margin-top: 10px;
  // margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-blocks {
  display: flex;
  margin-top: 5px;
}

.lesson-view-match-header {
  padding-top: 20px;
  padding-left: 4px;
  margin-bottom: 19px !important;
}

.columns-sentences-container {
}

.lesson-match-view-container-answers {
  display: flex;
  flex-direction: column;
  // margin: 5px;
  // border: 1px solid black;
  margin-top: 25px;
}

.lesson-match-view-check-answer {
  // padding-top: 35px;
  // border: 1px solid black;
  // padding: 10px;
}

.lesson-match-view-check-icon {
  top: 50%;
  // display: inline-block;
  position: relative;
  transform: translate(0px, -40%);
  // border:1px solid black;
}

.lesson-view-match-retry-container {
  display: flex;
  // justify-content: space-between;
}

.lesson-view-match-progress {
  // margin: 10px !important;
  // position: relative;
  // // margin-left: 14.4% !important;
  // width: 295px;

  // .bar {
  //   height: 36px !important;
  // }
  position: absolute !important;
  // top: -20px;
  right: 43px !important;
  top: 45px !important;
  width: 150px;
  // min-width: 1px !important;
  .bar {
    min-width: 10px !important;
  }
}

@media only screen and (max-width: 1919px) {
  .lesson-view-match-progress {
    // margin-left: 200px !important;
  }
}
