@import "../../style/variables.scss";

.columns-container {
  display: flex;
  // border: 1px solid black;
}

.title {
  padding: 8px;
}

// .tasks-container {
//   padding: 10px;
//   border: 1px solid grey;
//   margin-bottom: 10px;
//   margin-left: 10px;
//   margin-right: 10px;
//   border-radius: 2px;
//   background-color: white;
//   flex-grow: 1;
//   min-height: 100px;
// }

// actuall lesson

.lesson-view-grid {
  align-items: stretch !important;
  .row {
    padding-bottom: 0px !important;
    align-items: stretch !important;
    .column {
      padding: 0px !important;
      .step {
        background-color: $magnolia;
      }
    }
  }
}

.lesson-view-chapter-container {
  height: 70vh;
}

.lesson-view-segment-bottom {
  position: relative;

  top: -1px;
}

.lesson-view-fixed-container {
  padding: 0px !important;
  position: relative;
  left: -1px;
  .segment {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    width: 100.2% !important;
    height: 64px;
    background-color: $magnolia !important;
  }
}

.lesson-view-icon {
  font-size: 1.5em !important;
  color: $dark-grey;
}

.chapter-content {
  overflow-y: scroll;
  div {
    iframe {
      display: block;
      margin: auto !important;
      min-width: 450px;
      min-height: 300px;
      border-bottom: 1px solid red !important;
    }
    p {
      line-height: 15px;
    }
  }
}
// end lesson

.dragging {
  background-color: #deebff !important;
}

.dragging-over {
  border: rgba(9, 30, 66, 0.71);
  background-color: rgb(255, 235, 230);
}

.lesson-view-grid {
  margin: 1rem !important;
}

.lesson-view-steps-container {
  background-color: $white-grey !important;
}

// match exercise
.lesson-view-match-content {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.lesson-view-segment {
  display: flex;
}

.lesson-view-match-column {
  display: flex;
  flex-direction: column;

  width: auto;
}

.tasks-container-contentId,
.tasks-container-contentLetter,
.lesson-match-view-check-icon {
  display: flex;
  justify-content: left !important;
  font-size: 15px;
  flex-grow: 1;
  min-height: 50px;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: $white;
  border-radius: 5px;
  // border: 1px solid black;
}

.lesson-match-view-check-answer {
  width: 40px;
}
.incorrect-match {
  background-color: $red;
  color: $white !important;
}

.correct-match {
  background-color: #20ba45;
  color: $white;
}

.tasks-container-contentId,
.lesson-match-view-check-icon {
  margin-top: 10px !important;
}

.lesson-view-match-container {
  display: flex;
  flex-direction: column;
  margin-left: 5px !important;
}

.lesson-view-match-label {
  background-color: grey !important;
  color: $white !important;
  font-weight: 300 !important;
  margin-bottom: 10px !important;
  width: 130px;
  border-radius: 0px !important;
  padding: 5px 0px 5px 5px !important;
}

.lesson-view-match-explanation {
  font-size: 16px;
  padding: 20px 0px;
  color: grey;
}

.lesson-view-match-check {
  margin: 10px !important;
  width: 150px;
}

.lesson-view-match-icon-check {
  padding-left: 5px;
}

.tasks-container-contentId,
.tasks-container-contentLetter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-blocks {
  display: flex;
  margin-top: 5px;
}

.lesson-view-match-header {
  padding-top: 20px;
  padding-left: 4px;
  margin-bottom: 19px !important;
}

.lesson-match-view-container-answers {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.lesson-match-view-check-icon {
  top: 50%;
  position: relative;
  transform: translate(0px, -40%);
}

.lesson-view-match-retry-container {
  display: flex;
  margin-top: 20px;
}

.lesson-view-match-progress {
  position: absolute !important;
  right: 43px !important;
  top: 68px !important;
  width: 150px;
  .bar {
    min-width: 10px !important;
  }
}

.lesson-view-match-icon {
  cursor: pointer;
  font-size: 1.1rem !important;
  padding-left: 5px;
}

@media only screen and (max-width: 1919px) {
  .tasks-container-contentId,
  .tasks-container-contentLetter,
  .lesson-match-view-check-icon {
    font-size: 14px;
  }
}
