@import "../../../../style/variables.scss";

.contaniner-social-assets {
  display: flex;
  flex-direction: row;
}

.container-another-account {
  margin: 14px 0;
  color: rgba(0, 0, 0, 0.87);
}

.another-account {
  letter-spacing: 1px;
  font-size: 15px;
}

.action-another-account {
  text-transform: capitalize;
}

.container-social-assets {
  margin: 25px 0 !important;
}

.social-image-facebook {
  cursor: pointer;
  width: 30px;
  height: 30px;
  left: 15px;
  border-radius: 2px;
}
.social-image-google {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 1919px) {
  .social-image-facebook {
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
  .social-image-google {
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
}
