@import "../../../../style/variables.scss";

.menu-icon-wrapper {
  height: 35px;
  display: block;
  cursor: pointer;
  margin-top: 5px;
  // margin-left: -57px;
}

#hamburger {
  // position: absolute;
  top: 10px;
  width: 60px;
  // height: 45px;
  cursor: pointer;
  transform: rotate(0deg) scale(0.5);
  transition: 0.5s ease-in-out;
}

#hamburger span {
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  background: $dark-grey;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#hamburger span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#hamburger span:nth-child(1),
#hamburger span:nth-child(2) {
  top: 0px;
}

#hamburger span:nth-child(3),
#hamburger span:nth-child(4) {
  top: 18px;
}

#hamburger span:nth-child(5),
#hamburger span:nth-child(6) {
  top: 36px;
}

#hamburger.open span:nth-child(1),
#hamburger.open span:nth-child(6) {
  transform: rotate(45deg);
}

#hamburger.open span:nth-child(2),
#hamburger.open span:nth-child(5) {
  transform: rotate(-45deg);
}

#hamburger.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#hamburger.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

// sidebar
.mobile-sidebar-menu {
  padding-top: 20px !important;
}

/*sidebar*/

.close-menu,
.close-menu-admin {
  display: none !important;
}

.close-menu {
  position: fixed;
  margin: 0px !important;
  height: 69.9%;
  width: 25%;
  top: 174px;
  left: 14px;
  z-index: 50;
}

.close-menu-admin {
  position: absolute;
  left: 0px;
  top: -681px;
}
.open-menu,
.open-menu-admin {
  display: block;
  margin: 0px !important;
  width: 25%;
  z-index: 50;
  background: #f6f5fa !important;
  overflow-x: hidden;
  border-radius: 0px !important;
  // border-top: none !important;
  border-bottom: none !important;
}

.open-menu {
  position: fixed;
  top: 163px;
  left: 14px;
  height: 69.9%;
}

.open-menu-admin {
  position: absolute;
  left: -1px;
  top: -70.2vh;
  border-top: 1px solid $grey!important;
  // height: 679px;
  height: 70vh;
}

//
.lesson-view-label-name {
  position: relative;
  top: 2px;
}

.lesson-view-menu-item {
  // margin: 0px!important;
  // border-radius:0px!important;
}
