@import "../../style/variables.scss";

.nav-bar-menu-container {
  height: 80px;
  background: $white;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0;
}

.nav-bar-menu {
  margin: 0px !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
  border-radius: 0 !important;
  padding-right: 2.5rem;
}

.main-menu,
.sign-menu {
  font-size: 15px;

  .item {
    padding-right: 0.9rem !important;
    &.hover {
      background: $white !important;
    }
    a {
      color: $black !important;
    }
  }

  .active.item {
    background: $white !important;
  }

  .active > a {
    cursor: default !important;
    border-bottom: 4px solid $light-green !important;
  }
}

.mobile-nav-bar,
.mobile-logo-container {
  display: none;
}

@media only screen and(min-width:1919px) {
  .nav-bar-menu {
    max-width: $max-main-container-width;
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 992px) {
  .main-menu,
  .sign-menu {
    padding: 0px !important;
  }
}

@media only screen and (max-width: 767px) {
  .nav-bar-menu-container {
    margin: 0px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }

  .nav-bar-menu {
    display: none !important;
  }

  .mobile-nav-bar {
    display: block;
    padding-left: 0 !important;
  }

  /*menu hamburger*/
  .mobile-view {
    // padding: 10px;
    opacity: 1;
    // transform: translateX(-20px);
    // transition-delay: 0.3s;
    // height: 55px;
    display: block;
    // position: relative;
    // right:0px!important
  }

  .nav-menu-icon-wrapper,
  .mobile-view {
    height: 55px;
  }

  .nav-menu-icon-wrapper {
    display: flex !important;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .mobile-logo-container {
    display: block;
    height: 40px;
    width: 40px;
  }

  #hamburger {
    // position: absolute;
    // top: 5px;
    width: 60px;
    height: 45px;
    cursor: pointer;
    transform: rotate(0deg) scale(0.5);
    transition: 0.5s ease-in-out;
    right: 0;
  }

  #hamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: $black;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  #hamburger span:nth-child(even) {
    left: 50%;
    /*color:red;*/
    /*background: red;*/
    border-radius: 0 9px 9px 0;
  }

  #hamburger span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }

  #hamburger span:nth-child(1),
  #hamburger span:nth-child(2) {
    top: 0px;
  }

  #hamburger span:nth-child(3),
  #hamburger span:nth-child(4) {
    top: 18px;
  }

  #hamburger span:nth-child(5),
  #hamburger span:nth-child(6) {
    top: 36px;
  }

  #hamburger.open span:nth-child(1),
  #hamburger.open span:nth-child(6) {
    transform: rotate(45deg);
  }

  #hamburger.open span:nth-child(2),
  #hamburger.open span:nth-child(5) {
    transform: rotate(-45deg);
  }

  #hamburger.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  #hamburger.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  #hamburger.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #hamburger.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #hamburger.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }

  #hamburger.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }

  /*sidebar*/
  .mobile-close-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50;
    top: 55px;
    // transition: 0.3s;
    left: -175px;
  }

  .mobile-open-menu {
    // position: relative;
    display: block;
    height: 100vh;
    width: 100vw;
    padding-top: 1.5rem !important;
    margin: auto;
    // background: #ededef !important;
    background: $white !important;
    overflow-x: hidden;
    // transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center !important;
  }

  .mobile-sidebar-menu > .content {
    margin: 0 0.5rem;
    padding: 1rem 0;
    color: #747888;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
  }
}
