@import "../../style/variables.scss";

.mobile-nav-bar {
  display: none;
}

.nav-bar-menu {
  margin: 0px !important;
}

@media only screen and (max-width: 767px) {
  .nav-bar-menu {
    display: none !important;
  }

  .mobile-nav-bar {
    display: block;
    z-index: 100;
  }

  /*menu hamburger*/
  .mobile-view {
    padding: 10px;
    opacity: 1;
    transform: translateX(-20px);
    transition-delay: 0.3s;
    height: 55px;
    display: block;
    // position: relative;
    // right:0px!important
  }

  .menu-icon-wrapper {
    height: 35px;
    display: block;
    cursor: pointer;
    margin-left: -57px;
  }

  #hamburger {
    position: absolute;
    top: 10px;
    width: 60px;
    height: 45px;
    cursor: pointer;
    transform: rotate(0deg) scale(0.5);
    transition: 0.5s ease-in-out;
    right: 0;
  }

  #hamburger span {
    display: block;
    position: absolute;
    height: 9px;
    width: 50%;
    background: $black;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  #hamburger span:nth-child(even) {
    left: 50%;
    /*color:red;*/
    /*background: red;*/
    border-radius: 0 9px 9px 0;
  }

  #hamburger span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }

  #hamburger span:nth-child(1),
  #hamburger span:nth-child(2) {
    top: 0px;
  }

  #hamburger span:nth-child(3),
  #hamburger span:nth-child(4) {
    top: 18px;
  }

  #hamburger span:nth-child(5),
  #hamburger span:nth-child(6) {
    top: 36px;
  }

  #hamburger.open span:nth-child(1),
  #hamburger.open span:nth-child(6) {
    transform: rotate(45deg);
  }

  #hamburger.open span:nth-child(2),
  #hamburger.open span:nth-child(5) {
    transform: rotate(-45deg);
  }

  #hamburger.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  #hamburger.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  #hamburger.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #hamburger.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #hamburger.open span:nth-child(5) {
    left: 5px;
    top: 29px;
  }

  #hamburger.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
  }

  .mobile-nav-bar {
    display: block;
    z-index: 100;
  }

  /*sidebar*/
  .mobile-close-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50;
    top: 55px;
    transition: 0.3s;
    left: -175px;
  }

  .mobile-open-menu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 50;
    top: 55px;
    margin: auto;
    // background: #ededef !important;
    background: white !important;
    overflow-x: hidden;
    transition: 0.3s;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .mobile-open-menu {
    text-align: center !important;
  }

  .mobile-sidebar-menu > .content {
    background-color: $white !important;
    margin: 0 0.5rem;
    padding: 1rem 0;
    color: #747888;
    font-family: "Amatic SC", cursive;
    font-size:20px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}
