@import "../../style/variables.scss";

.container-forgot-password {
  position: relative !important;
  top: -11px;
  font-size: 14px;
  p > a {
    // font-size: 18px;
    color: $red !important;
    letter-spacing: 1px;
    // font-weight: bold;

    &:hover {
      // text-decoration: underline;
      text-shadow: 1px 1px 4px $light-grey;
    }
  }
}
