@import "../../style/variables.scss";

.account-grid {
  margin: 1.1rem 1.1rem 6.3rem 1.1rem !important;
}

// home page
.home-page-container {
  min-height: 500px;
}

.home-page-tooltip {
  background-color: $white;
  padding: 10px;
  border: 1px solid $grey;
}

.home-page-statistic {
  margin-left: 50px !important;
}

.home-page-overview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .list {
    margin: auto 0 !important;
  }
}

.home-page-pie-chart {
  display: flex;
  justify-content: center;

  .recharts-wrapper
    > .recharts-legend-wrapper
    > .recharts-default-legend
    > .recharts-legend-item
    > .recharts-surface
    > .recharts-legend-item-text {
    position: relative !important;
    top: 22px !important;
  }
}

.home-page-message {
  display: block;
  margin: 1.5rem auto !important;
  width: 500px;
  padding: 200px;
  text-align: center;

  .content {
    padding: 5px;
  }
}

// --------------------------------
