.topics-container
// , .topics-column
{
  margin: 2rem !important;
}

.topics-column {
  //   border: 1px soli/ black;
}

.card-content-topic {
  display: flex;
}

.card-content-image {
  width: 20%;
  height: auto;
}

.card-lessons-length {
  padding-left: 0px;
}
