@import "../../../style/variables.scss";

.sign-button {
  height: 40px !important;
  border-radius: 4px !important;
  margin: 2% 0 !important;
  width: 100%;
  background-color: $dark-grey !important;
}

.sign-button:hover {
  box-shadow: 1px 1px 4px $light-grey !important;
}

.button-text {
  letter-spacing: 2px;
  color: $white;
  vertical-align: middle !important;
}
