@import "../../../style/variables.scss";

.sign-button {
  height: 50px !important;
  border-radius: 4px !important;
  margin: 2% 0!important;
  width: 100%;
  background-color: $dark-grey !important;
  
}

.sign-button:hover {
  box-shadow: 1px 1px 4px $light-grey !important;
}

.button-text {
  // font-family: "Amatic SC", cursive !important;
  letter-spacing: 2px;
  color: $white;
  // font-size: 30px;
  vertical-align: middle !important;
}

@media only screen and (max-width: 1919px) {
  .sign-button {
    height: 40px !important;
  }

  .sign-button {
    margin-bottom: 3% !important;
   
  }
}
