@import "../../../style/variables.scss";

.left-side-header-learn-naturally {
  // margin-top: 1rem !important;
}

.left-side-sign {
  // text-align: center !important;
  letter-spacing: 5px;
  // margin: auto;
  // display: block!important;
  // margin: auto!important;
  margin: auto !important;
  .header {
    padding-right: 5rem !important;
  }
}

.left-side-sign-container {
  // display: block;
  // height: 600px;
  // margin-top: 4rem;
}

.left-logo-size {
  // display: inline-block;
  width: 450px;
  // height: 75%;
  height: 425px;
  margin-left: auto;

  // margin: auto;
}

.style-love {
  font-family: "Lobster";
  color: $light-green;
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 992px) {
  .left-side-sign {
    display: none !important;
  }
}
