@import "../../../style/variables.scss";

// .footer-container {
//   height: 20%;
//   // padding: 0 !important;
//   border-radius: 0 !important;

//   .grid {
//   }
// }

.footer-container {
  height: auto !important;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0 !important;
  background-color: $white-grey !important;
  box-shadow: 2px 3px 1px 5px rgba(34, 36, 38, 0.15);
  // color: $white;

  .row {
    max-width: 1919px;
    margin: 0 auto !important;
    padding: 0rem 2.5rem 0 0 !important;

    .column > .menu > .item {
      padding-bottom: 0.1rem !important;
    }
  }
}

.footer-item-brand-name {
  color: $black;
  font-weight: bold !important;
}

.footer-grid-icons {
  margin: 1em -0.6em !important;
  .menu > .item > a > i {
    opacity: 1 !important;
  }
}

.footer-menu-brand {
  display: flex !important;
  justify-content: center;

  .item > a {
    color: rgba(0, 0, 0, 0.6) !important;
  }

  .item > a:hover,
  .active > a {
    color: rgba(0, 0, 0, 0.9) !important;
  }
}

.footer-icon-facebook {
  color: $facebook-blue !important;
}

@media only screen and (max-width: 767px) {
  .footer-grid-logo {
    display: none !important;
  }

  .sign-form {
    max-width: 400px !important;
    margin: auto !important;
  }

  .footer-container {
    .row {
      flex-direction: column !important;
      padding: 0 !important;
    }
  }

  .footer-menu-brand {
    margin: 0 !important;
  }
}
