@import "../../style/variables.scss";

// password forget page
.container-forgot-password {
  position: relative !important;
  top: -11px;
  font-size: 14px;
  p > a {
    color: $red !important;
    letter-spacing: 1px;

    &:hover {
      text-shadow: 1px 1px 4px $light-grey;
    }
  }
}
