@import "./variables";

html {
  overflow-y: hidden; // hide vertical
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  overflow: hidden;
  // font-family: "Amatic SC", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fbfafb !important;
}

.land-container {
  // font-family: "Amatic SC", cursive !important;
}

// navbar
.menu-logo {
  margin-left: 30px;
  margin-right: 50px;
  width: 50px;
  height: 50px;
}

.logo-container:hover {
  background-color: $white !important;
}

.main-menu,
.sign-menu {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
}

.sign-menu > .item > a,
.main-menu > .item > a {
  color: $black !important;
}

.sign-menu > .item:hover,
.main-menu > .item:hover {
  background: $white !important;
}

.sign-menu > .active.item,
.main-menu > .active.item {
  background: $white !important;
}

.sign-menu > .active > a,
.main-menu > .active > a {
  cursor: default !important;
  // text-decoration-color: #33cccc !important;
  // text-decoration-line: underline !important;
  border-bottom: 4px solid $light-green !important;
}

// form
.sign-grid {
  margin-top: 2% !important;
}

.container-another-account {
  color: $dark-green;
  font-size: 18px;
  font-weight: bold;
}

.container-form-header {
  margin-bottom: 11% !important;
}

.form-header {
  font-size: 40px !important;
  font-family: "Amatic SC", cursive !important;
  letter-spacing: 5px;
  text-align: center !important;
}

.error-no-user,
.error-no-user-sign-up {
  position: absolute;
  white-space: normal;
  background: #fff !important;
  border: 1px solid #e0b4b4 !important;
  color: #9f3a38 !important;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 1px !important;
  width: 90%;
}

.error-no-user {
  top: 12%;
}

.error-no-user-sign-up {
  top: 9% !important;
}

.sign-word > a {
  color: $dark-blue !important;
  font-weight: bold !important;
  padding-left: 10px;

  &:hover {
    cursor: pointer !important;
    text-shadow: 2px 2px 12px $light-grey !important;
  }
}

.container-account-ask {
  padding-top: 15px;
  font-size: 25px;
  color: $dark-grey;
  font-weight: bold;
  letter-spacing: 1px;
}

.sign-form,
.forget-password-form {
  box-shadow: 10px 10px 10px 10px $light-grey;
  background: $grey;
  width: 55%;
  border-radius: 30px;
  padding: 20px;
  margin: auto;
}

.sign-form {
  height: 100%;
}
//
.forget-password-form {
  vertical-align: top !important;
}
@media only screen and (max-width: 1919px) {
  .sign-form {
    width: 65% !important;
  }

  .sign-grid {
    margin-top: 1% !important;
  }

  .error-no-user,
  .error-no-user-sign-up {
    font-size: 18px;
  }

  .container-form-header {
    margin-bottom: 12% !important;
  }

  .form-header {
    font-size: 25px !important;
  }

  .sign-word > a {
    color: $dark-blue !important;
    font-weight: bold !important;
    padding-left: 10px;

    &:hover {
      cursor: pointer !important;
      text-shadow: 2px 2px 12px $light-grey !important;
    }
  }

  .container-account-ask {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1199px) {
  .error-no-user,
  .error-no-user-sign-up {
    font-size: 12px;
  }

  .sign-column {
    margin: auto;
  }

  .main-menu,
  .sign-menu {
    font-size: 25px;
  }

  .sign-form {
    width: 80% !important;
  }
}

@media only screen and (max-width: 992px) {
  .main-menu,
  .sign-menu {
    font-size: 18px;
    padding: 0px !important;
  }
  .sign-form {
    width: 80% !important;
  }
}

@media only screen and (max-width: 767px) {
  .sign-form {
    position: relative !important;
    z-index: -1 !important;
    width: 100% !important;
  }

  .nav-bar-sticky > .ui.sticky {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
}

@media only screen and(max-width: 767px) {
  .sign-form,
  .forget-password-form {
    box-shadow: none;
    background: none;
  }
}
