@import "./variables";

html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../assets/images/background.svg") no-repeat center center
    fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  // background-color: $snow;
  min-height: 100vh;
}

#root {
  height: 100vh;
  overflow: hidden;
}

// shared selectors
.capitalize {
  text-transform: capitalize !important;
}

.background-error {
  background-color: $red !important;
}

// navbar
.menu-logo {
  margin-left: 25px;
  margin-right: 50px;
  width: 50px;
  height: 50px;
}

.error-message {
  margin: auto !important;

  .header,
  .content {
    text-align: center;
  }
}

@media only screen and (max-width: 1919px) {
  .sign-word > a {
    color: $dark-blue !important;
    padding-left: 10px;

    &:hover {
      cursor: pointer !important;
    }
  }
}

// @media only screen and (max-width: 1199px) {
// }

@media only screen and (max-width: 767px) {
  body {
    background: $white !important;
  }

  .nav-bar-sticky {
    position: relative;
    z-index: 1;
  }

  .nav-bar-sticky > .ui.sticky {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
}
