// colors

$black: #000;
$dark-grey: #585555;
$grey: rgba(180, 180, 180, 0.2);
$light-grey: rgba(180, 180, 180, 1);
$white: #fff;
$white-grey: #e2e2e2;
$white-smoke: #f1f1f1;
$magnolia: #f6f5fa;
$snow: #fbfafb;
$dark-green: #3c6966;
$light-green: #33cccc;
$light-sea: #20b2aa;
$green-success: #20ba45;
$dark-blue: #212698;
$facebook-blue: #3a5998;
$corn-silk: #fff8dc;
$light-cloud: #f6fafd;
$saturated-blue: #4d657d;
$chetwode-blue: #aeb9d2;
$coral-pearl: #576071;
$light-red: #e0b4b4;
$red: #fc3437;
$brown: #a5673f;
