// colors

$white: #fff;
$black: #000;
$dark-grey: #585555;
$light-grey: rgba(180, 180, 180, 1);
$grey: rgba(180, 180, 180, 0.2);
$white-grey: #e2e2e2;
$white-smoke: #f1f1f1;
$red: #fc3437;
$dark-green: #3c6966;
$light-green: #33cccc;
$light-sea: #20b2aa;
$dark-blue: #212698;
$corn-silk: #fff8dc;
