@import "../../../style/variables.scss";

.form-label {
  font-size: 25px !important;
  // margin-top: 10% !important;
  padding-bottom: 10px !important;
  letter-spacing: 2px;
}

.form-input > .input > input {
  height: 50px !important;
  border-radius: 10px !important;
  margin-bottom: 2% !important;
  width: 100%;
  vertical-align: middle !important;
}

.sign-form > .field > .error > .prompt.label {
  position: absolute;
  font-size: 19px;
  padding: 5px;
  border-radius: 8px !important;
  right: 4% !important;
  &:before {
    display: none !important;
  }
}

// .sign-form > .field > .error.email-signin > .prompt.label {
//   top: 20% !important;
// }

// .sign-form > .field > .error.password-signin > .prompt.label {
//   top: 37.8% !important;
// }

// .sign-form > .field > .error.password-signup > .prompt.label {
//   top: 41% !important;
// }

.sign-form > .field {
  .error.email-signin > .prompt.label {
    top: 20% !important;
  }

  .error.email-signup > .prompt.label {
    top: 27.5% !important;
  }

  .error.password-signin > .prompt.label {
    top: 37.8% !important;
  }

  .error.password-signup > .prompt.label {
    top: 41% !important;
  }

  .error.username > .prompt.label {
    top: 14% !important;
  }

  .error.repeat-password-signup > .prompt.label {
    display: none;
  }
}

@media only screen and (max-width: 1919px) {
  .sign-form > .field > .error > .prompt.label {
    font-size: 15px;
  }

  .form-label {
    font-size: 15px !important;
    // margin-top: 10% !important;
    padding-bottom: 1px !important;
    letter-spacing: 2px;
  }

  .form-input > .input > input {
    height: 40px !important;
  }

  .sign-form > .field {
    .error.email-signin > .prompt.label {
      top: 19% !important;
    }

    .error.email-signup > .prompt.label {
      top: 27.5% !important;
    }

    .error.password-signin > .prompt.label {
      top: 37% !important;
    }

    .error.password-signup > .prompt.label {
      top: 42% !important;
    }

    .error.username > .prompt.label {
      top: 14% !important;
    }

    .error.repeat-password-signup > .prompt.label {
      display: none;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .sign-form > .field {
    .error.email-signin > .prompt.label {
      font-size:12px;
      top: 16% !important;
    }

    .error.email-signup > .prompt.label {
      font-size:12px;
      padding:3px;
      top: 27.5% !important;
    }

    .error.password-signin > .prompt.label {
      font-size:12px;
      padding:3px;
      top: 37% !important;
    }

    .error.password-signup > .prompt.label {
      font-size:12px;
      padding:3px;
      top: 42% !important;
    }

    .error.username > .prompt.label {
      font-size:12px;
      padding:3px;
      top: 13% !important;
    }

    .error.repeat-password-signup > .prompt.label {
      display: none;
    }
  }
}
