@import "../../style/variables.scss";

// .editor-component {
//   font-family: Arial, Helvetica, sans-serif !important;
// }

.container-compact-picker {
  position: absolute;
  // right: 5px !important;
  top: 46%;
  z-index: 2;
}

.admin-eye-dropper {
  // fill: $grey;
}

.container-editor {
  // margin: 2% 0;
}

.video-player-icon {
  position: relative;
  top: -2px;
}

.default-embedded {
  display: none !important;
}
.editor-area {
  border: 1px solid $white-smoke;

  .DraftEditor-root {
    .DraftEditor-editorContainer {
      line-height: 4px !important;
    }
  }
}

.editor-toolbar {
  background-color: #aeb9d2; // $light-cloud; //$light-sea;
}

.editor-toolbar {
  .rdw-block-wrapper,
  .rdw-fontfamily-wrapper,
  .rdw-fontsize-wrapper {
    .rdw-dropdown-wrapper > .rdw-dropdown-selectedtext {
      color: $black !important;
    }
  }
}

.editor-toolbar > * > .rdw-option-active {
  background: $corn-silk !important; //saturated-blue
  border: 1px solid $light-grey;
  color: $white !important;
}

.container-preview {
  margin-top: 2%;
}

.answers-container > * > * {
  border-radius: 0px !important;
}

.rdw-embedded-modal {
  box-shadow: 1px 1px 3px $light-grey !important;
}

.video-popup {
  width: 265px !important;
}

.video-add-button {
  background: #ece9e9 !important; //ECE9E9
}

.video-cancel-button,
.video-add-button {
  min-height: 33px;
}
