@import "../../style/variables.scss";

.loader-admin {
  height: 100vh;
}

.grid-admin {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 2% !important;
}

.ui.selection.active.dropdown:hover .menu {
  text-transform: capitalize !important;
}

.admin-button-group {
  z-index: 2 !important;
  cursor: pointer !important;
}

.admin-icon-popup {
  top: -50px;
}
