@import "../../style/variables.scss";

.loader-admin {
  height: 100vh;
}

.grid-admin {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 2% !important;
}

.ui.selection.active.dropdown:hover .menu {
  text-transform: capitalize !important;
}

.admin-button-group {
  z-index: 2 !important;
  cursor: pointer !important;
}

.admin-icon-transition {
  position: absolute !important;
  width: 90px !important;
  top: -75px !important;
  right: 1px !important;
  padding: 5px !important;
  border-radius: 5px;
  background-color: $white !important;
  border: 1px solid $white-grey;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.67);
}

.icon-trigger {
  margin-left: 3px !important;
}

.icon-settings-popup {
  margin-left: -10px !important;
  opacity: 0.9 !important;
}

.container-compact-picker {
  z-index: 5 !important;
}

.upload-button {
  opacity: 0.7 !important;
}

.answers-container {
  margin-top: 30px;
}

.tab-lesson-stages > .tab {
  border: none !important;
}

.practise-form {
  // background:#aeb9d2;
}

.container-exercise-builder {
  margin-bottom: 10px !important;
}

.segment-init-exercises {
  display: flex;
  justify-content: space-between;
}

.button-toggle-all-exercises {
  margin-right: 5px !important;
}

.header-init-exercises {
  position: relative;
  top: 6px !important;
}

.popup-init-exercises {
  // height: 100px!important;
}

.exercises-container {
  padding-top: 0px !important;
  // border: 1px solid black;
}

.exercises-handler {
  display: flex;
  justify-content: space-between;
  // margin-bottom: 10px;
}

.header-exercise-name {
  margin: auto 0 !important;
}

.button-group-field-top {
  margin-bottom: 18px !important;
}
.button-add-field,
.button-remove-field,
.button-replace-field {
  margin-right: 5px !important;
}

.statistic-fields-quantity {
  position: relative;
  border: 1px solid brown;

  border-radius: 5px;
  padding: 7px 10px;
  top: 0px;
  margin-right: 5px !important;
  min-width: 40px;
  height: 35px;

  .label {
    margin-right: 10px !important;
    padding: 0px !important;
    /* padding: 0px!important; */
    font-weight: 400 !important;
    font-size: 1rem !important;
  }

  .value {
    position: relative;
    right: 4px;
    top: -1px;
    // font-size: 1.2rem !important;
    span {
      font-size: 1.2rem !important;
    }
  }
}
.span-exercise-name {
  // margin-left: 5px;
}

.label-exercise-name {
  height: 30px;
  margin: auto 0 !important;
}
.container-exercise-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid $chetwode-blue;
}

.button-group-exercise-top > .button {
  padding: 0px !important;
  background: none !important;
  margin: none !important;
  border: none !important;
  box-shadow: none !important;
}

.button-toggle-exercise-view {
  margin-right: 5px !important;
  color: $brown !important;
}
.button-remove-exercise {
  color: $red !important;
}

.header-exercise-top {
  margin: 0px !important;
}

.match-grid > .column,
.complete-grid > .column {
  padding-bottom: 0px !important;
}

.math-field-row > .column {
  padding: 0px 3% !important;
}

.match-statistic-id,
.complete-statistic-id {
  display: flex !important;
  justify-content: center !important;
}

.match-segment-id,
.complete-segment-id {
  display: flex;
  background: aliceblue;
  margin-right: 5px !important;
  top: 5px;
  margin-top: 0px !important;
  box-shadow: none !important;
  justify-content: center;
}

.match-dropwdown-letter > div,
.match-segment-id,
.complete-segment-id,
.button-replace-field > .button,
.button-remove-field > .button {
  min-width: 55px !important;
}

.button-remove-field > .button,
.button-replace-field > .button {
  display: flex !important;
  justify-content: center !important;
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
  margin-top: 2px !important;
  height: 40px !important;
  width: 40px !important;
}

.icon-remove-field {
  margin: auto !important;
  padding: 0px !important;
}

.tutorial-popup-container {
  display: flex;
  flex-direction: column;

  .list {
    margin-top: 0px !important;
    .item {
      // padding: 10px 80px!important;
      line-height: 22px !important;
    }
  }
}

.popup-example-sentence-span {
  padding-left: 5px;
}

// .complete-column {
//   padding-right: 0px !important;
// }
.complete-field-row > .column {
  // padding: 0 1% !important;
}
.match-textarea-container {
}

.complete-textarea-container {
  display: flex !important;
  flex-direction: column !important;
}

.answer-column {
  padding: 1px !important;
}

// .column-remove-field {
//   // height: 100vh;

// }

.complete-textarea,
.answer-textarea {
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  font-size: 1em;
  line-height: 1.2857;
  margin: 0px;

  padding: 0.78571429em 1em !important;
}

.complete-textarea {
  background: $white;
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.answer-textarea {
  // max-width: 137px;
  max-width: 90%;
  background: $white-smoke;
  border: none;
  cursor: not-allowed;
}

.complete-textarea:focus,
.answer-textarea:focus {
  outline: none !important;
}

.match-textarea-label,
.complete-textarea-label,
.match-label-id,
.complete-label-id,
.match-dropwdown-letter > label {
  font-family: "Roboto", sans-serif !important;
  font-weight: 600 !important;
  font-size: 0.9rem !important;
}

.match-textarea,
.match-segment-id,
.complete-segment-id,
.match-dropwdown-letter > div,
.button-replace-field > .button {
  height: 42px !important;
}

.match-dropwdown-letter > div {
  top: 1px !important;
}

.match-textarea,
.answer-textarea,
.complete-textarea {
  margin-top: 5px !important;
}

.button-remove-field,
.button-replace-field {
  margin-top: 23px !important;
}

.button-replace-field {
  // margin: auto!important;
}
.match-builder {
}

.tab-lesson-stages > .secondary > .item:last-child {
  position: absolute;
  right: 10px;
  margin-top: 3px !important;
}

.card-preview-container {
  // width: 50% !important;
  max-width: 650px !important;
  min-width: 500px;
  padding: 25px !important;
  margin: auto !important;
  border: 1px solid $white !important; // $light-sea
  padding-right: 0px !important;
}

@media only screen and (min-width: 1919px) {
  .answer-textarea {
    // max-width: 200px;
  }
}

// @media only screen and (max-width: 1400px) {
//   .answer-textarea {
//     max-width: 131px;
//   }
// }
