@import "../../style/variables.scss";

// sign-in

.sign-in-grid {
  margin-top: 3% !important;
}

.left-logo-size {
  width: 75%;
  height: 75%;
  margin: auto;
}

.container-form-header {
  margin-bottom: 14%;
}

.form-header {
  font-size: 40px !important;
  font-family: "Amatic SC", cursive !important;
  letter-spacing: 5px;
  text-align: center !important;
}

.sign-in-form {
  box-shadow: 10px 10px 10px 10px $light-grey;
  background: $grey;
  width: 55%;
  height: 100%;
  border-radius: 30px;
  padding: 20px;
  margin: auto;
}

.left-side-sign {
  text-align: center !important;
  letter-spacing: 5px;
}

.container-account-ask {
  padding-top: 15px;
  font-size: 25px;
  color: $dark-grey;
  font-weight: bold;
  letter-spacing: 1px;
}

.sign-word {
  color: $dark-blue;
  cursor: pointer;
  font-weight: bold !important;

  &:hover {
    text-shadow: 2px 2px 12px $light-grey;
  }
}
@media only screen and (max-width: 1919px) {
  .sign-in-form {
    width: 65% !important;
  }
}

@media only screen and (max-width: 1199px) {
}
