@import "../../../style/variables.scss";

.contaniner-social-assets {
  display: flex;
  flex-direction: row;
}

.another-account {
  letter-spacing: 1px;
}

.social-image-facebook {
  cursor: pointer;
  width: 35px;
  height: 35px;
  left: 15px;
  border-radius: 2px;
}
.social-image-google {
  cursor: pointer;
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 1919px) {
  .social-image-facebook {
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
  .social-image-google {
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
}
