@import "../../style/variables.scss";

.landing-wrapper {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.landing-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.main-content-container {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  border-radius: 0 !important;
}

@media only screen and (max-width: 767px) {
  .landing-wrapper {
    position: relative !important;
    z-index: 0 !important;
    // background: $white;
    // z-index: -1 !important;
  }

  .main-content-container {
    position: relative !important;
    top: -10px;
    // z-index: -1 !important;
  }
}
