@import "../../../../style/variables.scss";

.lesson-list-edit,
.lesson-list-remove {
  background: none !important;
}

.lesson-list-remove {
  color: $red !important;
}

.lesson-list-header-row {
  border-bottom: 2px solid $chetwode-blue;
}

.topics-lesson-link {
  color: $dark-grey !important;
}

.topics-lesson-link:hover {
  color: $black !important;
}
