@import "../../style/variables.scss";

.topics-container {
  margin: 2rem !important;
}

.topics-header-row {
  border-bottom: 2px solid $chetwode-blue;
}

.categories-column {
  margin-top: 0.7rem !important;
  margin-bottom: 2rem !important;
}
.topics-header {
  position: relative;
  top: 18px;
}

.topics-column-search {
  display: flex !important;
  justify-content: flex-end !important;
}

.topics-input-search:hover,
.topics-input-search:focus {
  outline: none !important;
  border-color: none !important;
}

.segment-loading-topics {
  margin-top: 10rem !important;
  // height: 100vh !important;
  width: 100vw !important;
  background-color: transparent !important;
  color: transparent !important;
}

.dimmer-topics {
  background-color: transparent !important;
  color: $black !important;
}
.loader-topic {
  color: $black !important;
}
.card-topic-container {
  width: 325px !important;
  border: 1px solid $white !important; // $light-sea
}

.card-topic-container:hover {
  border: 1px solid $light-sea !important; // $light-sea
  outline: 0;
  box-shadow: none !important;
}

.card-content-category {
  display: flex;
  border-top: none !important;
}

.card-content-image {
  width: 25%;
  height: auto;
}

.card-topic-link {
  color: $black !important;
}

.card-content-topic-text {
  padding-left: 5.5rem;
}

.card-lessons-length {
  padding-left: 0px;
}

.card-topic-image {
  width: 60px !important;
  height: 60px !important;
}

.card-topic-meta {
  display: flex;
  flex-direction: row;

  div {
    display: flex;
  }
}

.card-meta-time {
  padding-left: 10px;
}

.card-topic-header {
  text-align: left;
}
.card-topic-header,
.topics-header {
  color: $coral-pearl !important;
}
.card-topic-arrow {
  top: 8px;
  right: 5px;
  position: absolute;
  color: transparent;
}

.card-topic-container:hover .card-topic-arrow {
  color: $light-sea !important;
}

@media only screen and (max-width: 1919px) {
  .card-meta-time {
    padding-left: 2px;
  }
}

@media only screen and (max-width: 1199px) {
  .card-topic-container {
    margin: auto!important;
  }
}
